@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000320}}
a {
  color: #124332;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000324}}
a:hover, a:active, a:focus {
  color: #124332;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000330}}
.link_btn {
  display: block;
  padding: 17px 12px;
  background: #ffd232;
  color: #124332;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000342}}
.link_btn:hover, .link_btn:active, .link_btn:focus {
  color: #ffd232;
  background: #124332;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000347}}
.link_btn.__big {
  padding: 23px 17px;
  width: auto;
  display: inline-block;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000355}}
html, body {
  height: 100%;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #091e14;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000364}}
.title_img {
  display: block;
  margin: 0 auto  40px auto;
}
@media screen and (max-width: 532px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000367}}
  .title_img.help_img {
    width: 100%;
  }
}
@media screen and (max-width: 389px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000372}}
  .title_img.prize_img {
    width: 100%;
  }
}
@media screen and (max-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000377}}
  .title_img.user_list {
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000383}}
.site_wr {
  height: 90%;
  background: cornflowerblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000388}}
.content_wr {
  position: relative;
  height: 90%;
  width: 100%;
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000393}}
.content_wr.main_bg {
  padding: 35px 35px 0;
  background: url("../i/main_bg.jpg") 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 1240px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000393}}
  .content_wr.main_bg {
    padding: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003102}}
.content_wr.rules_bg {
  background: url("../i/rules_bg.jpg") 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003109}}
.ctrl_age_wr {
  position: relative;
  max-width: 510px;
  margin: 0 auto 20px;
  min-height: 441px;
}
@media screen and (max-width: 510px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003109}}
  .ctrl_age_wr {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003120}}
.ctrl_age_wr img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003124}}
.ctrl_age_wr .balloon {
  top: 0;
  left: -90px;
  width: 108px;
  height: 135px;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003132}}
.age_form_wr {
  margin-top: -40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003134}}
.age_form_wr .age_text {
  font-size: 18px;
  color: #113323;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003140}}
.age_form_wr .age_col {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003142}}
.age_form_wr .age_col input[type=text] {
  height: 43px;
  font-size: 20px;
  border: #124332 solid 1px;
  background: none;
  text-align: center;
  width: 60px;
  margin-left: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000315}}
.age_form_wr .age_col input[type=text].placeholder {
  opacity: 1;
  color: #092217;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000316}}
.age_form_wr .age_col input[type=text]:-moz-placeholder {
  opacity: 1;
  color: #092217;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000317}}
.age_form_wr .age_col input[type=text]::-moz-placeholder {
  opacity: 1;
  color: #092217;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000318}}
.age_form_wr .age_col input[type=text]::-webkit-input-placeholder {
  opacity: 1;
  color: #092217;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000315}}
.age_form_wr .age_col input[type=text]:focus.placeholder {
  opacity: 0.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000316}}
.age_form_wr .age_col input[type=text]:focus:-moz-placeholder {
  opacity: 0.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000317}}
.age_form_wr .age_col input[type=text]:focus::-moz-placeholder {
  opacity: 0.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\0000318}}
.age_form_wr .age_col input[type=text]:focus::-webkit-input-placeholder {
  opacity: 0.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003162}}
.age_form_wr .age_col.b_input input[type=text] {
  width: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003167}}
.age_form_wr .age_col.label_text {
  font-size: 14px;
  color: #113323;
  width: 90px;
  text-align: right;
  padding-right: 13px;
  margin-left: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003175}}
.age_form_wr .age_col input[type=submit] {
  background: #ffd232;
  color: #113323;
  text-transform: uppercase;
  border: none;
  height: 43px;
  font-size: 11px;
  padding: 0 12px;
  margin-left: 12px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003185}}
.age_form_wr .age_col input[type=submit]:hover {
  text-decoration: underline;
}
@media screen and (max-width: 510px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003192}}
  .age_form_wr .age_col {
    float: none;
    margin: 10px 20px !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003196}}
  .age_form_wr .age_col input {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003201}}
  .age_form_wr .age_col input[type=text] {
    background: rgba(255, 255, 255, 0.7);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003204}}
  .age_form_wr .age_col.label_text {
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003213}}
.footer {
  background: #fff;
  height: 10%;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003220}}
.footer .fb-like {
  position: absolute;
  top: 45%;
  left: 30px;
  margin-top: -10px;
  overflow: hidden;
}
@media screen and (max-width: 830px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003220}}
  .footer .fb-like {
    top: 20px;
    left: 50%;
    margin-right: -20px;
  }
}
@media screen and (max-width: 830px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003213}}
  .footer {
    height: auto;
    padding: 50px 0 20px 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003237}}
  .footer img {
    width: 90%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003242}}
.cell {
  display: table-cell;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003247}}
.about_wr {
  margin-top: -110px;
  z-index: 100;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003251}}
.about_wr .link_btn {
  width: 110px;
  margin: 0 auto 15px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003256}}
.about_wr hr {
  width: 270px;
  height: 0px;
  margin: 0 auto;
  border: none;
  border-top: #30531f solid 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003263}}
.about_wr .about_text {
  padding: 7px 0 0 0;
  text-align: center;
}
@media screen and (max-width: 510px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003247}}
  .about_wr {
    margin-top: -30px;
    padding: 0 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003272}}
  .about_wr hr {
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003281}}
.ico {
  margin: 0 auto;
  display: block;
  background-image: url("../i/sprite.png");
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003288}}
.rule_wr {
  position: relative;
  min-height: 106px;
  background: url("../i/pointer.png") 100% 0 no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003292}}
.rule_wr:last-child {
  background: none;
}
@media screen and (max-width: 970px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003288}}
  .rule_wr {
    background: none;
    margin-bottom: 30px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003299}}
.rule_wr .ico_wr {
  height: 135px;
  padding-top: 22px;
}
@media screen and (max-width: 970px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003299}}
  .rule_wr .ico_wr {
    height: auto;
    margin-bottom: 15px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003308}}
.rule_wr .ico_r1 {
  width: 104px;
  height: 36px;
  background-position: 0 -191px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003313}}
.rule_wr .ico_r2 {
  width: 67px;
  height: 66px;
  background-position: 0 -342px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003318}}
.rule_wr .ico_r3 {
  width: 63px;
  height: 51px;
  background-position: 0 -227px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003323}}
.rule_wr .ico_r4 {
  width: 65px;
  height: 64px;
  background-position: 0 -278px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003329}}
.rule_wr .ico_p1 {
  width: 104px;
  height: 86px;
  background-position: 0 -475px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003334}}
.rule_wr .ico_p2 {
  width: 39px;
  height: 88px;
  background-position: 0 -647px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003339}}
.rule_wr .ico_p3 {
  width: 62px;
  height: 86px;
  background-position: 0 -561px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003344}}
.rule_wr .ico_p4 {
  width: 52px;
  height: 68px;
  background-position: 0 -407px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003352}}
.rule_wr .rule_text_wr .ico {
  float: left;
  width: 35px;
  height: 31px;
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003358}}
.rule_wr .rule_text_wr .ico_n1 {
  background-position: 0 -126px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003361}}
.rule_wr .rule_text_wr .ico_n2 {
  background-position: 0 -93px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003364}}
.rule_wr .rule_text_wr .ico_n3 {
  background-position: 0 -31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003367}}
.rule_wr .rule_text_wr .ico_n4 {
  background-position: 0 -62px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003370}}
.rule_wr .rule_text_wr .ico_n5 {
  background-position: 0 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003373}}
.rule_wr .rule_text_wr .ico_n10 {
  width: 55px;
  height: 32px;
  background-position: 0 -159px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003378}}
.rule_wr .rule_text_wr p {
  color: #fff;
  margin-left: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003384}}
.rules_btn_wr {
  margin: 55px 0 20px 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003389}}
.fb_text {
  width: 545px;
  margin: 0 auto;
  color: #ffd232;
  font-size: 22px;
  text-align: center;
  border-top: #fff solid 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003397}}
.fb_text p {
  padding: 40px 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003400}}
.fb_text .line_style, .fb_text .right_line, .fb_text .left_line {
  border-top: #fff solid 1px;
  width: 33%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003404}}
.fb_text .right_line {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003408}}
.fb_text .left_line {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003413}}
.fb_text .fb_login_btn {
  position: relative;
  top: -26px;
  display: inline-block;
  width: 52px;
  height: 52px;
  background: url("../i/fb.png") 0 0 no-repeat;
}
@media screen and (max-width: 545px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003389}}
  .fb_text {
    width: 95%;
    margin: 0 auto;
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003389}}
  .fb_text {
    font-size: 14px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003429}}
  .fb_text p {
    padding: 20px 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003435}}
.user_bg {
  background: url("../i/gray_bg.png") 50% 50%;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003439}}
.user_wr {
  position: relative;
}
@media screen and (max-height: 760px) and (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003439}}
  .user_wr {
    padding-top: 120px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003446}}
.nav_arr {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 27px;
  background-image: url("../i/nar.png");
  background-repeat: no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003453}}
.nav_arr.arr_left {
  left: 0;
  background-position: 0 0;
}
@media screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003453}}
  .nav_arr.arr_left {
    left: 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003460}}
.nav_arr.arr_right {
  right: 0;
  background-position: 100% 0;
}
@media screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003460}}
  .nav_arr.arr_right {
    right: 20px;
  }
}
@media screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003446}}
  .nav_arr {
    position: fixed;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003471}}
.user_item {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003473}}
.user_item .user_name {
  text-align: center;
  color: #124332;
  font-size: 12px;
  padding: 5px 0 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003480}}
.navigation {
  text-align: center;
  padding: 35px 0 15px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003483}}
.navigation .nav_item {
  display: inline-block;
  font-size: 14px;
  color: #124332;
  width: 18px;
  height: 18px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003491}}
.navigation .nav_item.selected {
  background: #124332;
  color: #e8e2d7;
  border-radius: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003499}}
.somersby_tabs {
  border-bottom: none;
  text-align: center;
  display: block;
  margin: 20px 0 40px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -155px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003499}}
  .somersby_tabs {
    position: relative;
    left: auto;
    top: auto;
    margin: 20px auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003517}}
.somersby_tabs li {
  display: inline-block;
  border: none;
  margin: 0 5px;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003522}}
.somersby_tabs li a {
  border: none;
  border-radius: 0;
  border: #113323 solid 1px;
  line-height: 2.429;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003529}}
.somersby_tabs li a:hover, .somersby_tabs li a:focus, .somersby_tabs li a:active {
  background: none;
  border: #113323 solid 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003535}}
.somersby_tabs li.active a {
  border: #ffd232 solid 1px;
  background: #ffd232;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003540}}
.somersby_tabs li.active a:hover, .somersby_tabs li.active a:focus, .somersby_tabs li.active a:active {
  background: #ffd232;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003548}}
.popup_wr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
  z-index: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/flor\/www\/somersby\/scss\/style\.scss}line{font-family:\00003556}}
.popup_wr .winner_text {
  position: relative;
  top: 50%;
  margin: -75px auto 0;
  font-size: 18px;
  color: #ffd232;
  text-align: center;
  width: 400px;
  padding: 40px 0;
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
}
