/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$1-x: 0px;
$1-y: 191px;
$1-offset-x: 0px;
$1-offset-y: -191px;
$1-width: 103px;
$1-height: 36px;
$1-total-width: 104px;
$1-total-height: 735px;
$1-image: '../i/sprite.png';
$1: 0px 191px 0px -191px 103px 36px 104px 735px '../i/sprite.png';
$10-x: 0px;
$10-y: 158px;
$10-offset-x: 0px;
$10-offset-y: -158px;
$10-width: 45px;
$10-height: 33px;
$10-total-width: 104px;
$10-total-height: 735px;
$10-image: '../i/sprite.png';
$10: 0px 158px 0px -158px 45px 33px 104px 735px '../i/sprite.png';
$11-x: 0px;
$11-y: 31px;
$11-offset-x: 0px;
$11-offset-y: -31px;
$11-width: 20px;
$11-height: 31px;
$11-total-width: 104px;
$11-total-height: 735px;
$11-image: '../i/sprite.png';
$11: 0px 31px 0px -31px 20px 31px 104px 735px '../i/sprite.png';
$12-x: 0px;
$12-y: 93px;
$12-offset-x: 0px;
$12-offset-y: -93px;
$12-width: 20px;
$12-height: 32px;
$12-total-width: 104px;
$12-total-height: 735px;
$12-image: '../i/sprite.png';
$12: 0px 93px 0px -93px 20px 32px 104px 735px '../i/sprite.png';
$13-x: 0px;
$13-y: 125px;
$13-offset-x: 0px;
$13-offset-y: -125px;
$13-width: 18px;
$13-height: 33px;
$13-total-width: 104px;
$13-total-height: 735px;
$13-image: '../i/sprite.png';
$13: 0px 125px 0px -125px 18px 33px 104px 735px '../i/sprite.png';
$14-x: 0px;
$14-y: 62px;
$14-offset-x: 0px;
$14-offset-y: -62px;
$14-width: 22px;
$14-height: 31px;
$14-total-width: 104px;
$14-total-height: 735px;
$14-image: '../i/sprite.png';
$14: 0px 62px 0px -62px 22px 31px 104px 735px '../i/sprite.png';
$2-x: 0px;
$2-y: 342px;
$2-offset-x: 0px;
$2-offset-y: -342px;
$2-width: 67px;
$2-height: 66px;
$2-total-width: 104px;
$2-total-height: 735px;
$2-image: '../i/sprite.png';
$2: 0px 342px 0px -342px 67px 66px 104px 735px '../i/sprite.png';
$3-x: 0px;
$3-y: 227px;
$3-offset-x: 0px;
$3-offset-y: -227px;
$3-width: 62px;
$3-height: 51px;
$3-total-width: 104px;
$3-total-height: 735px;
$3-image: '../i/sprite.png';
$3: 0px 227px 0px -227px 62px 51px 104px 735px '../i/sprite.png';
$4-x: 0px;
$4-y: 278px;
$4-offset-x: 0px;
$4-offset-y: -278px;
$4-width: 64px;
$4-height: 64px;
$4-total-width: 104px;
$4-total-height: 735px;
$4-image: '../i/sprite.png';
$4: 0px 278px 0px -278px 64px 64px 104px 735px '../i/sprite.png';
$5-x: 0px;
$5-y: 475px;
$5-offset-x: 0px;
$5-offset-y: -475px;
$5-width: 104px;
$5-height: 86px;
$5-total-width: 104px;
$5-total-height: 735px;
$5-image: '../i/sprite.png';
$5: 0px 475px 0px -475px 104px 86px 104px 735px '../i/sprite.png';
$6-x: 0px;
$6-y: 647px;
$6-offset-x: 0px;
$6-offset-y: -647px;
$6-width: 39px;
$6-height: 88px;
$6-total-width: 104px;
$6-total-height: 735px;
$6-image: '../i/sprite.png';
$6: 0px 647px 0px -647px 39px 88px 104px 735px '../i/sprite.png';
$7-x: 0px;
$7-y: 561px;
$7-offset-x: 0px;
$7-offset-y: -561px;
$7-width: 61px;
$7-height: 86px;
$7-total-width: 104px;
$7-total-height: 735px;
$7-image: '../i/sprite.png';
$7: 0px 561px 0px -561px 61px 86px 104px 735px '../i/sprite.png';
$8-x: 0px;
$8-y: 408px;
$8-offset-x: 0px;
$8-offset-y: -408px;
$8-width: 52px;
$8-height: 67px;
$8-total-width: 104px;
$8-total-height: 735px;
$8-image: '../i/sprite.png';
$8: 0px 408px 0px -408px 52px 67px 104px 735px '../i/sprite.png';
$9-x: 0px;
$9-y: 0px;
$9-offset-x: 0px;
$9-offset-y: 0px;
$9-width: 20px;
$9-height: 31px;
$9-total-width: 104px;
$9-total-height: 735px;
$9-image: '../i/sprite.png';
$9: 0px 0px 0px 0px 20px 31px 104px 735px '../i/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
