$w_sm: 767px;
$w_md: 970px;
$w_lg: 1150px;

$point1: 510px;

$pl_color: #092217;
$d_green: #113323;
$dl_green: #124332;
$submit_bg: #ffd232;



@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
a{
  color: $dl_green;
  &:hover,
  &:active,
  &:focus{
    color: $dl_green;
    text-decoration: underline;
  }
}

.link_btn{
  display: block;
  padding: 17px 12px;
  background: $submit_bg;
  color: $dl_green;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus{
    color: $submit_bg;
    background: $dl_green;
    text-decoration: none;
  }
  &.__big{
    padding: 23px 17px;
    width: auto;
    display: inline-block;
    margin: 0 auto;
  }
}

html, body{
  height: 100%;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #091e14;
}


.title_img{
  display: block;
  margin: 0 auto  40px auto;
  &.help_img{
    @media screen and (max-width: 532px){
      width: 100%;
    }
  }
  &.prize_img{
    @media screen and (max-width: 389px){
      width: 100%;
    }
  }
  &.user_list{
    @media screen and (max-width: 384px){
      width: 100%;
    }
  }
}
.site_wr{
  height: 90%;
  background: cornflowerblue;
}

.content_wr{
  position: relative;
  height: 90%;
  width: 100%;
  display: table;
  &.main_bg{
    padding: 35px 35px 0;
    background: url("../i/main_bg.jpg") 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    @media screen and (max-width: 1240px){
      padding: 0;
    }
  }
  &.rules_bg{
    background: url("../i/rules_bg.jpg") 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.ctrl_age_wr{
  position: relative;
  max-width: 510px;
  margin: 0 auto 20px;
  min-height: 441px;

  @media screen and (max-width: $point1){
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  img{
    width: 100%;
  }
  
  .balloon{
    top: 0;
    left: -90px;
    width: 108px;
    height: 135px;
    position: absolute;
  }
}
.age_form_wr{
  margin-top: -40px;
  .age_text{
    font-size: 18px;
    color: $d_green;
    text-align: center;
  }

  .age_col{
    float: left;
    input[type=text]{
      height: 43px;
      font-size:20px;
      border: $dl_green solid 1px;
      background: none;
      text-align: center;
      width: 60px;
      margin-left: -1px;
      @include placeholder{
        opacity: 1;
        color: $pl_color;
      }
      &:focus{
        @include placeholder{
          opacity: 0.6;
        }
      }
    }

    &.b_input{
      input[type=text]{
        width: 90px;
      }
    }

    &.label_text{
      font-size: 14px;
      color:$d_green;
      width: 90px;
      text-align: right;
      padding-right: 13px;
      margin-left: 45px;
    }
    input[type=submit] {
      background: $submit_bg;
      color: $d_green;
      text-transform: uppercase;
      border: none;
      height: 43px;
      font-size: 11px;
      padding: 0 12px;
      margin-left: 12px;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: $point1){
    .age_col {
      float: none;
      margin: 10px 20px !important;

      input {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
      }
      input[type=text] {
        background: rgba(255, 255, 255, 0.7);
      }
      &.label_text{
        float: none;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.footer{
  background: #fff;
  height: 10%;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 10px;
  .fb-like{
    position: absolute;
    top: 45%;
    left: 30px;
    margin-top: -10px;
    overflow: hidden;
    @media screen and (max-width: 830px ) {
      top: 20px;
      left: 50%;
      margin-right: -20px;

    }
  }

  @media screen and (max-width: 830px ) {
    height: auto;
    padding: 50px 0 20px 0;
    img{
      width: 90%;
    }
  }
}
.cell{
  display: table-cell;
  vertical-align: middle;
}

.about_wr{
  margin-top: -110px;
  z-index: 100;
  position: relative;
  .link_btn{
    width: 110px;
    margin: 0 auto 15px auto;

  }
  hr{
    width: 270px;
    height: 0px;
    margin: 0 auto;
    border:none;
    border-top: #30531f solid 1px;
  }
  .about_text{
    padding: 7px 0 0 0;
    text-align: center;
  }

  @media screen and (max-width: $point1 ) {
    margin-top: -30px;
    padding: 0 20px;

    hr{
      width: 100%;
    }
  }
}




.ico{
  margin: 0 auto;
  display: block;
  background-image: url("../i/sprite.png");
  background-repeat: no-repeat;
}

.rule_wr{
  position: relative;
  min-height: 106px;
  background: url("../i/pointer.png") 100% 0 no-repeat;
  &:last-child{
    background: none;
  }
  @media screen and (max-width: $w_md ) {
    background: none;
    margin-bottom: 30px;
  }
  .ico_wr{
    height: 135px;
    padding-top: 22px;
    @media screen and (max-width: $w_md){
      height: auto;
      margin-bottom: 15px;
    }
  }

  .ico_r1{
    width: 104px;
    height: 36px;
    background-position: 0 -191px;
  }
  .ico_r2{
    width: 67px;
    height: 66px;
    background-position: 0 -342px;
  }
  .ico_r3{
    width: 63px;
    height: 51px;
    background-position: 0 -227px;
  }
  .ico_r4{
    width: 65px;
    height: 64px;
    background-position: 0 -278px;
  }

  .ico_p1{
    width: 104px;
    height: 86px;
    background-position: 0 -475px;
  }
  .ico_p2{
    width: 39px;
    height: 88px;
    background-position: 0 -647px;
  }
  .ico_p3{
    width: 62px;
    height: 86px;
    background-position: 0 -561px;
  }
  .ico_p4{
    width: 52px;
    height: 68px;
    background-position: 0 -407px;
  }


  .rule_text_wr{
    .ico{
      float: left;
      width: 35px;
      height: 31px;
      margin-left: 15px;
    }
    .ico_n1{
      background-position: 0 -126px;
    }
    .ico_n2{
      background-position: 0 -93px;
    }
    .ico_n3{
      background-position: 0 -31px;
    }
    .ico_n4{
      background-position: 0 -62px;
    }
    .ico_n5{
      background-position: 0 0px;
    }
    .ico_n10{
      width: 55px;
      height: 32px;
      background-position: 0 -159px;
    }
    p{
      color: #fff;
      margin-left: 50px;
    }
  }
}
.rules_btn_wr{
  margin: 55px 0 20px 0;
  text-align: center;
}

.fb_text{
  width: 545px;
  margin: 0 auto;
  color: $submit_bg;
  font-size: 22px;
  text-align: center;
  border-top: #fff solid 1px;

  p{
    padding: 40px 60px;
  }
  .line_style{
    border-top: #fff solid 1px;
    width: 33%;
  }
  .right_line{
    @extend .line_style;
    float: right;
  }
  .left_line{
    @extend .line_style;
    float: left;
  }
  
  .fb_login_btn{
    position: relative;
    top: -26px;
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url("../i/fb.png") 0 0 no-repeat;
  }

  @media screen and (max-width: 545px){
    width: 95%;
    margin: 0 auto;
    font-size: 20px;
  }
  @media screen and (max-width: 320px){
    font-size: 14px;
    p{
      padding: 20px 0;
    }
  }
}

.user_bg{
  background: url("../i/gray_bg.png") 50% 50%;
  position: relative;
}
.user_wr{
  position: relative;
  @media screen and (max-height: 760px) and (min-width: $w_sm){
    padding-top: 120px;

  }
}
.nav_arr{
  position: absolute;
  top: 50%;
  width: 16px;
  height: 27px;
  background-image: url("../i/nar.png");
  background-repeat: no-repeat;
  &.arr_left{
    left: 0;
    background-position: 0 0;
    @media screen and (max-width: $w_sm){
      left: 20px;
    }
  }
  &.arr_right{
    right: 0;
    background-position: 100% 0;
    @media screen and (max-width: $w_sm){
      right: 20px;
    }
  }
  @media screen and (max-width: $w_sm){
    position: fixed;
  }
}
.user_item{
  text-align: center;
  .user_name{
    text-align: center;
    color: $dl_green;
    font-size: 12px;
    padding: 5px 0 15px;
  }
}
.navigation{
  text-align: center;
  padding: 35px 0 15px 0;
  .nav_item{
    display: inline-block;
    font-size: 14px;
    color: $dl_green;
    width: 18px;
    height: 18px;
    text-align: center;

    &.selected{
      background: $dl_green;
      color: #e8e2d7;
      border-radius:50%
    }
  }
}

.somersby_tabs{
  border-bottom: none;
  text-align: center;
  display: block;
  margin: 20px 0 40px;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -155px;
  z-index: 100;

  @media screen and (max-width: $w_sm){
    position: relative;
    left: auto;
    top: auto;
    margin: 20px auto;
  }

  li{
    display: inline-block;
    border:none;
    margin: 0 5px;
    float: none;
    a{
      border:none;
      border-radius: 0;
      border: $d_green solid 1px;
      line-height: 2.429;
      &:hover,
      &:focus,
      &:active{
        background: none;
        border: $d_green solid 1px;
      }
    }
    &.active{
      a{
        border: $submit_bg solid 1px;
        background: $submit_bg;
        &:hover,
        &:focus,
        &:active{
          background: $submit_bg;
        }
      }
    }
  }
}

.popup_wr{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
  z-index: 500;
  .winner_text{
    position: relative;
    top: 50%;
    margin: -75px auto 0;
    font-size: 18px;
    color: $submit_bg;
    text-align: center;
    width: 400px;
    padding: 40px 0;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
  }
}

